body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}

.navbar-default {
    border-color: transparent;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.4);
	background-color: rgba(114,157,191,1);
}

   /* .navbar-default .navbar-nav > li > a {
        color:#666;
        padding: 22px 15px;
		
    } */
.navbar-default .navbar-nav > li > a{
	color:#fff;

}
.navbar-default .navbar-nav > li > a:hover{
	color:rgba(0,0,0,0.6);
	transform:scale(1.05,1.05);

}
.navbar-nav >li:hover{
	background-color:rgba(255,255,255,0.3);
	
}


/*=====================================
  HOME STYLES 
    ===================================*/
.home-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background:url(../../images/cover.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .home-sec .overlay {
        background: rgba(19, 19, 19, 0.30); 
        min-height: 565px;
    }

    .home-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
    }

    .home-sec h3 {
        font-size:3vh;
    }
	

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides{margin: 0; padding: 0; list-style: none;}

.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0px solid #000;
    padding-top: 180px;
}

@media (max-width: 767px){
  .set-flexi{
    top:30%;
  }
  .set-flexi h1{
    font-size: 2.5em;
  }

}


/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 25px;
    color: #000;
}

h1::after {
    content: " ";
    border: solid 2px #2f9484;
    display: block;
    width: 200px;
    margin: 12px auto;
}


/*=========================
!--HOW IT WORKS
===========================*/

.howitworks{
	min-height:477px;
	padding: 0px;
}

.howitworks:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0;
}

.howitworks .row{
	padding-top:20px;
}

.howitworks p{
	font-size:24px;
	margin:0 0 20px 0;
	text-align:center;
	font-weight:300;
}
.howitworks h4{
	font-size:18px;
	margin-top:13px;
	text-align:center;
	font-weight:300;
}
.howitworks h6{
	font-size:15px;
	padding-top:3px;
	padding-right:20px;
	padding-left:20px;
	text-align:center;
	font-weight:300;
}

.icon-round-border {
    border: 1px double #5bc0de;
    color: #5bc0de;  
    text-align: center;
    padding: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

    .icon-round-border:hover {
        color: #fff;
        border: 1px  #5bc0de;
        background-color: #5bc0de;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }	
.row  i {
		font-size: 3em;
	}
.slides i{
		font-size: 4em;
}
@media (max-width: 767px) {
.icon-round-border {
    border: 1px double #5bc0de;
    color: #5bc0de;  
    text-align: center;
	padding:0px;
    padding-top:15px;
	height: 55px;
    width: 55px;
    border-radius: 100%;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.icon-round-border:hover {
        color: #fff;
        border: 1px  #5bc0de;
        background-color: #5bc0de;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
.row i{
		font-size:1.5em;		
}
.slides i{
	font-size:4em;
}
}
/*=====================================
 About STYLES 
  ===================================*/
#About-sec {
                                /* background-color: #6f5499; */
	color: #fff;
	height:auto;
  width: 100%;
  background: -webkit-linear-gradient(left, #24d3d3,#24d3d3 ,#24d3d3 ,#22d686 );
  background: linear-gradient(to right, #24d3d3, #22d686,#24d3d3 ,#22d686 );
  background-size: 600% 50%;
  -webkit-animation: HeroBG 40s ease infinite;
          animation: HeroBG 40s ease infinite;
}

@-webkit-keyframes HeroBG {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes HeroBG {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

	

    #About-sec .header-line {
        color: #fff;
	font-family: "Open Sans", Arial, sans-serif;
    }


	
/*=======================
	review SECTION
=========================*/	
	
		
#review-sec {
	width:100%;
	position:relative;
	overflow:hidden;
    padding-top: 10px;
    padding-bottom: 60px;
    background:url(../../images/quote.jpg) no-repeat;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
	min-height: 226px;                                 
}

#review-sec .overlay {
	padding-top:90px;
	padding-bottom:90px;
	background: rgba(13, 0, 0, 0.75);
	}
.review-sec h3
	{
	color:#fff; 
    }

	
/*============FACULTY============*/
#faculty{
	min-height: 390px;
	padding-bottom: 50px;
}

#faculty:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0;
}

.profile-btn{
	margin-top: 30px;
	padding: 5px 25px;
	background-color: #5BC0DE;
	border:1px solid #5BC0DE;
	font-weight: 500;
	font-size: 17px;
	color:white;		
}

.profile-btn:active, .profile-btn:hover{
	background-color: transparent;
	color:#5BC0DE;

}

/*=====================================
  Footer STYLES 
  ===================================*/

#credits {
	  
	padding:30px 0;
	text-transform:uppercase;
	font-size:13px;
	line-height: 1.4;
}
#credits a {
	color:inherit;
}
#credits .social i {
	border:1px solid #ccc;
	height:30px;
	width:30px;
	line-height:30px;
	border-radius:50%;
	margin-left:2px;
	color:#999;
	text-align:center;
	margin-bottom:15px;
	display:inline-block;
}
#credits .social i:hover {
	color: #5bc0de;
}

/*=========================
!--Login BOX
===========================*/


#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 21px;
  width: 31%;
  margin: 15% 0% 0% auto;
  float: right;
  
}
#form{
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 21px;
  width: 100%;
  margin: 30px auto;
}
#login-heading{
  padding-bottom:7px;
  letter-spacing:3px;
  font-size:20px;
  
}

.znet {
    position: fixed;
    left: 90%;
    top: 88%;
    z-index: 1000000;
    width: 8%;
}

.cblogo{
   position: fixed;
    left: 1%;
    top: 92%;
    z-index: 1000000;
    width: 9%;
}

@media (max-width: 768px){
  .znet {
    position: fixed;
    left: 78%;
    top: 87%;
    z-index: 1000;
    width: 20%;
}
.cblogo{
   position: fixed;
    left: 3%;
    top: 91%;
    z-index: 1000000;
    width: 20%;
}
}
